.App {
  text-align: center;
  position: flex;
}

.card-box {
  background: #D9D9D9;
  width: 65%;
  float: left;
}

.card-shop {
  background: #F9F4E9;
  width: 35%;
  float: left;
}

.text-deco {
  text-decoration: underline;
}

/* modal.css */
.modal {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.modal-box {
  position: absolute;
  background-color: #61dafb;
  width: 30%;
  height: 20%;
  margin: 0 auto;
}

.modal-inner {
  position: absolute;
  top: 12%;
  right: 0;
  left: 0;
  width: 480px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}
.modal-header {
  height: 10px;
  width: 100%;
  margin-bottom: 50px;
  border-radius: 8px 8px 0 0;
  background-color: bisque;
  text-align: center;

}

.modal-introduction h2 {
  color: #5876a3;
  text-align: center;

}

.modal-introduction p {
  color: #5876a3;
  width: 384px;
  line-height: 32px;
  text-align: center;
  margin: 36px auto 40px;
}

.modal-close-btn {
  background-color: #f0f4f9;
  font-size: 24px;
  color: #8491a5;
  width: 5%;
  padding: 5% 5%;
  border: 0;
  cursor: pointer;
  margin: 0 2%;
}
.modal-add-btn {
  float: right;
  font-size: 24px;
  color: #000;
  height: 10%;
  width: 15%;
  padding: 5% 5%;
  margin: 0 3%;
  border: 0;
  background-color: red;
  cursor: pointer;
}
.modal-rm-btn {
  float: right;
  font-size: 24px;
  color: #000;
  height: 10%;
  width: 15%;
  padding: 5% 5%;
  border: 0;
  background-color: #61dafb;
  cursor: pointer;
}
.btn-com {
  right: 0;
  margin-bottom: 0;

}
.modalContent {
  background: "white";
  padding: "10";
  border-radius: "3px";
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  align-items: center;
  justify-content: center;
}
.order-box {
  background: #F9F4E9;
  width: 34%;
  height: 100%;
  float: right;
  text-align: justify;
}
.overlay-base {
  padding: 1rem;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  transition-property: background-color, opacity;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-after {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}

.overlay-before {
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
}

.content-base {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  margin: 0 auto;
  border: 0;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0%;
  width: 0%;
  background-color: transparent;
  transition-property: background-color, width, height;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.content-after {
  width: 70%;
  height: 40%;
  background-color: rgba(250, 190, 190, 0.8);
}

.content-before {
  width: 0%;
  height: 0%;
  background-color: transparent;
}

.language-image {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
  margin: auto;
  height: auto;
  width: 60%;
}
.submit-button {
  margin: 3%;
  border: none;
  background: #FF5F04;
  width: 85%;
  height: 100%;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  border-radius: 0 0 25% 25%;
}

.shop-rogo {
  text-align: center;
  width: 90%;
  background: #D9D9D9;
  margin: 2%;
  margin-top: 3%;
}

.occupancy {
  color: #fff;
  background: #5B5B5B;
  width: 64%;
  /* height: 90%; */
  margin: auto;
  float: right;
}

.meter {
  border: 5px solid #333;
  height: 20%;
  width: 10%;
  background: #999;
  display: flex;
  align-items: flex-end;
}

.meter div {
  width: 100%;
  background: #78d461;
}

.card-list {
  color: #78d461;
  display: flex;
  flex-wrap: wrap;
}

.card-list div {
  flex: auto;
  width: 25%;
}

.sort {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 60%;
  margin: 30px 0;
  padding-top: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.order-index {
  color: #000;
  border-bottom: 0.5vw solid #000;
  font-size: large;
  font-weight: bold;
  margin-left: 2%;
  margin-right: 2%;
}

.boder-line {
  color: #000;
  border-bottom: 0.2vw solid #000;
  margin-left: 2%;
  margin-right: 2%;
  background: #FFDE89;
}

.App-link {
  color: #61dafb;
}

.circle {
  display: flex;
  flex-wrap: wrap;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: skyblue;
  text-align: center;
  line-height: 80px;
}

.box-box {
  display: inline-block;
  margin-right: 1em;
  width: 400px;
  padding: 1em;
  background-color: white;
  box-shadow: 3px 3px 4px #546E7A;
}

/* display: inline-block;
  color: #8491a5;
  width: 10%;
  height: 12%;
} */
.sort {
  /* width: 80%;
  margin: 15%; */
  padding: auto;
  position: absolute;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next";
  min-width: 1280px;
}

ul {
  list-style: none;
}

h1 {
  font-family: "Avenir Next";
  font-size: 56px;
  font-weight: 400;
  color: #0bc8b6;
}

h2,
h3 {
  font-family: "Lato";
  color: #2b546a;
  font-weight: 300;
}

h2 {
  font-size: 24px;
  margin-top: 8px;
}

h3 {
  font-size: 20px;
  border-bottom: 1px solid #e1e6ec;
  line-height: 64px;
  margin-bottom: 40px;
}

.header {
  height: 60px;
  border-bottom: 1px solid #eee;
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: skyblue;
  /*背景色*/
}

.header-logo {
  height: 60px;
  width: 60px;
  background-color: #2b546a;
  float: left;
  text-align: center;
}

.header-logo-img {
  width: 240px;
  height: 200px;
  position: absolute;
  z-index: 10;
  top: 0px;
}

.main-wrapper {
  background-color: #f4fafa;
}

.main {
  max-width: 1040px;
  margin: 0 auto;
  padding: 96px 0;
}

.container {
  position: flex;
  margin: 10%;
  width: 80%;
  height: 80%;
}

.lesson-card {
  display: inline-block;
  width: 22.5%;
  margin-right: 24px;
  text-align: center;
  box-shadow: 0 0 6px #e8e8e8;
  background-color: #fff;
  cursor: pointer;
}

.lesson-item {
  border-radius: 4px;
  padding: 48px 0 64px;
}

.lesson-item img {
  width: 126px;
}

.lesson-item p {
  color: #2b546a;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-box {
  width: 90px;
  height: 48px;
  bottom: 20%;
  right: 0%;
  position: absolute;
  z-index: 60;
  /* opacity: 0; */
  background-color: #5876a3;
  border-radius: 8px;
}

.modal-inner {
  position: absolute;
  top: 8%;
  right: 0;
  left: 0;
  width: 480px;
  padding-bottom: 60px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}

.modal-header {
  height: 8px;
  width: 100%;
  margin-bottom: 60px;
  border-radius: 8px 8px 0 0;
  background-image: url("https://s3-ap-northeast-1.amazonaws.com/progate/shared/images/lesson/react/modal_bar.svg");
}

.modal-introduction p {
  color: #5876a3;
  width: 384px;
  line-height: 32px;
  text-align: left;
  margin: 36px auto 40px;
}

.modal-close-btn {
  font-size: 13px;
  color: #8491a5;
  width: 200px;
  padding: 16px 0;
  border: 0;
  background-color: #f0f4f9;
  cursor: pointer;
}

.modal-close-btn:hover {
  color: #8491a5;
  background-color: #ccd9ea;
  transition: .3s ease-in-out;
}

.footer {
  padding: 80px 0;
}

.footer-inner {
  max-width: 1040px;
  margin: 0 auto;
}

.footer-logo {
  display: inline-block;
}

.footer-logo img {
  height: 20px;
}

.footer-logo p {
  color: #b1c0c0;
  font-size: 12px;
}

.footer-inner ul {
  float: right;
}

.footer-inner li {
  color: #2b546a;
  display: inline-block;
  padding-left: 16px;
}
