@media screen and (min-width: 940px) {
    .pie-chart-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
}
   
.box {
    position: relative;
    margin-bottom: 15px;
    min-width: 220px;
    width: 33.3333333333%;
    height: 280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #b28c62;
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
            box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 940px) {
    .box {
      width: 100%;
    }
}
@media screen and (min-width: 940px) {
    .box + .box {
      margin-left: 20px;
    }
}
@media screen and (max-width: 940px) {
    .box + .box {
      margin-top: 20px;
    }
}
.box .percent {
    position: relative;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}
.box .percent svg {
    position: relative;
    width: 150px;
    height: 150px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
}
.box .percent svg circle {
    position: relative;
    fill: none;
    stroke-width: 10;
    stroke: #f3f3f3;
    stroke-dasharray: 440;
    stroke-dashoffset: 0;
    stroke-linecap: round;
}
.box .percent .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #111;
}
.box .percent .number .title {
    font-size: 50px;
}
.box .percent .number .title span {
    font-size: 22px;
}
.box .text {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.box .percent .line {
    -webkit-animation: circleAnim 1s forwards;
            animation: circleAnim 1s forwards;
            stroke-dashoffset: 52.8;
            stroke: #ff8c00;
           
}
   
@-webkit-keyframes circleAnim {
    0% {
      stroke-dasharray: 0 440;
    }
    99.9%, to {
      stroke-dasharray: 440 440;
    }
}
   
@keyframes circleAnim {
    0% {
      stroke-dasharray: 0 440;
    }
    99.9%, to {
      stroke-dasharray: 440 440;
    }
}
   